body {
    text-align: center;
    flex-wrap: wrap;
}
    .dd {
        border: 3px solid red;
    }
h1 {

    letter-spacing: 15px;
    text-shadow: 4px 2px navy,8px 4px slateblue,12px 6px turquoise;
    text-align: center;
    font-size: 34px;
}
